body {
	margin-top: 10px;
	margin-left: 10px;
}

.hide {
	display: none;
}

h1 {
	font-weight: normal;
	font-size: 20px;
	margin-bottom: 20px;
}

h2 {
	font-weight: normal;
	font-size: 17px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

#about {
	margin-top: 70px;
	padding-top: 10px;
	border-top: 1px solid #ddd;
}

#about p {
	font-size: 0.9em;
	color: #999;
}

legend {
	font-size: 16px;
	border: 0;
}

.form-actions {
	background-color: #fff;
}

.saved-msg {
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
	color: #51A351;
	display: none;
}