$primary: #44a4e0;
$secondary: #7f8ea1;
$success: #22b66e;
$info: #337ab7;
$warning: #ffb400;
$danger: #e74c4b;
$dark: #193c52;
$font-size-base: 0.85rem;

$input-btn-focus-width: 2px;
$input-border-color: #ddd;

$modal-dialog-margin-y-sm-up: 5rem;
$modal-content-border-width: 0;
$modal-backdrop-opacity: 0.7;

@import "~bootstrap/scss/bootstrap";

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  col,
  td,
  th {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      @for $i from 1 through $grid-columns {
        &.col#{$infix}-#{$i} {
          width: 100% / $grid-columns * $i;
        }
      }
    }
  }
}

::selection {
  background-color: #c1e7ff;
  color: #000;
}

#main-content {
  margin-top: 2rem;
}

#main-footer {
  margin-top: 3rem;
  padding: 2rem;
  text-align: center;
  border-top: 1px solid #eee;

  p,
  .list-inline {
    margin: 0;
    padding: 0;
  }
}

textarea {
  resize: vertical;
  min-height: 100px;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 17px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.saved-msg {
  font-weight: bold;
  color: $success;
  padding: 12px;
}

.narrow {
  width: 1%;
  white-space: nowrap;
}

.add-field-bar {
  margin: 10px 0;
  text-align: center;

  .btn {
    border-radius: 50rem;
    padding: 0.15rem 0.5rem;
  }
}

.custom-field-buttons {
  float: right;

  .btn {
    padding: 0;
    margin: 0 0.5rem;
  }

  .btn:last-child {
    margin-right: 0;
  }
}
