$brand-primary: #44a4e0;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$input-border-radius: 2px;
$input-border-focus: $brand-primary;

@import "bootstrap/_bootstrap";

::selection {
  background-color: #c1e7ff;
  color: #000;
}

.form-control {
  $color-rgba: rgba(red($input-border-focus), green($input-border-focus), blue($input-border-focus), .6);
  &:focus {
    border-color: $input-border-focus;
    outline: 0;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px $color-rgba);
  }
}

.has-error {
  .form-control {
    &:focus {
      $shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px lighten($state-danger-text, 20%);
      @include box-shadow($shadow);
    }
  }
}

.control-label {
  font-weight: normal;
}

.well {
  @include box-shadow(none);
  overflow-wrap: break-word;
}

body {
  margin-top: 10px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

#about {
  margin-top: 50px;
  color: $gray-light;
  font-size: 0.85em;

  .list-inline {
    font-size: 0.9em;
  }
}

h2 {
  font-size: 17px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.saved-msg {
  font-weight: bold;
  color: $state-success-text;
  padding: 12px;
}

.ReactModal__Overlay {
  perspective: 600;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

.ReactModal__Content.modal-dialog {
  border: none;
  background-color: transparent;
}
