<h2>Custom Fields</h2>
<p>Form Filler uses the ID, NAME and CLASS values of an input field to determine its data type. You can adjust the
    search phrases in the text boxes below to tweak how Form Filler determines the correct data types.</p>
<p>Basically, any partial match in the attributes underlined:<br><code>&lt;label for="match" &gt;<b><u>match</u></b>&lt;/label&gt;</code><br><code>&lt;input type="<i>anything</i>"
    id="<b><u>match</u></b>" name="<b><u>match</u></b>" class="<b><u>match</u></b>" /&gt;
</code></p>
<p>Please note that attributes take precedence over any configuration and may override it in some cases. Also, fields
    are matched in the order listed here.</p>
<hr/>
<div class="btn-toolbar">
    <div class="btn-group">
        <button type="button" id="add-field" class="btn btn-sm btn-primary" ng-click="editField({}, -1)">
            <i class="glyphicon glyphicon-plus-sign"></i> Add Field
        </button>
    </div>
</div>
<br/>
<div ui-sortable="sortableOptions" ng-model="options.fields">
    <div class="well well-sm" ng-repeat="field in options.fields track by $index">
        <strong>{{field.name}}</strong>
        <div class="pull-right">
            <div class="btn-group">
                <a href="" class="btn btn-xs btn-default sort-handle">
                    <i class="glyphicon glyphicon-sort"></i>
                </a>
                <button type="button" class="btn btn-xs btn-default" ng-click="editField(field, $index)">
                    <i class="glyphicon glyphicon-edit"></i> Edit
                </button>
                <button type="button" class="btn btn-xs btn-default" ng-click="deleteField($index)">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </div>
        </div>
        <dl class="dl-horizontal">
            <dt>Type</dt>
            <dd>{{field.type}}</dd>
            <dt>Match</dt>
            <dd>{{field.match | toCsv}}</dd>

            <dt ng-if="field.template">Template</dt>
            <dd ng-if="field.template">{{field.template}} <span class="text-muted" ng-if="field.caseInSensitive">(case-insensitive)</span></dd>

            <dt ng-if="field.min">Minimum Value</dt>
            <dd ng-if="field.min">{{field.min}}</dd>

            <dt ng-if="field.max">Maximum Value</dt>
            <dd ng-if="field.max">{{field.max}}</dd>

            <dt ng-if="field.list">List Items</dt>
            <dd ng-if="field.list">{{field.list | toCsv}}</dd>
        </dl>
    </div>
</div>

<script type="text/ng-template" id="editCustomFieldModal.html">
    <form class="form-horizontal" name="fieldForm" ng-submit="ok()" novalidate>
        <div class="modal-header">
            <h3 class="modal-title">Add Custom Field</h3>
        </div>
        <div class="modal-body">
            <div class="form-group" ng-class="{ 'has-error': fieldForm.type.$invalid && !fieldForm.type.$pristine }">
                <label class="col-sm-3 control-label" for="data-type">Data Type</label>
                <div class="col-sm-9">
                    <select id="data-type" name="type" ng-model="field.type"
                            ng-options="type.id as type.name group by type.group for type in types"
                            class="form-control" required></select>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': fieldForm.name.$invalid && !fieldForm.name.$pristine }">
                <label class="col-sm-3 control-label" for="friendly-name">Friendly Name</label>
                <div class="col-sm-9">
                    <input id="friendly-name" type="text" name="name" ng-model="field.name" class="form-control"
                           required/>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': fieldForm.match.$invalid && !fieldForm.match.$pristine }">
                <label class="col-sm-3 control-label" for="match">Match</label>
                <div class="col-sm-9">
                    <input id="match" name="match" type="text" ng-model="field.match" class="form-control"
                           required/>
                    <div class="help-block">Enter comma separated values (in lowercase) to match, or a regular
                        expression. Make sure your regular expression does not have a comma.
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="field.type == 'telephone'"
                 ng-class="{ 'has-error': fieldForm.telephoneTemplate.$invalid && !fieldForm.telephoneTemplate.$pristine }">
                <label class="col-sm-3 control-label" for="template">Template</label>
                <div class="col-sm-9">
                    <input id="template" type="text" name="telephoneTemplate" class="form-control"
                           ng-model="field.template" ng-required="field.type == 'telephone'"/>
                </div>
            </div>
            <div class="form-group" ng-if="field.type == 'number'"
                 ng-class="{ 'has-error': fieldForm.numberMin.$invalid && !fieldForm.numberMin.$pristine }">
                <label class="col-sm-3 control-label" for="min-value">Minimum Value</label>
                <div class="col-sm-4">
                    <input id="min-value" type="number" name="numberMin" class="form-control" min="0"
                           ng-model="field.min" ng-required="field.type == 'number'" less-than-or-equal-to="{{field.max}}"/>
                </div>
            </div>
            <div class="form-group" ng-if="field.type == 'number'"
                 ng-class="{ 'has-error': fieldForm.numberMax.$invalid && !fieldForm.numberMax.$pristine }">
                <label class="col-sm-3 control-label" for="max-value">Maximum Value</label>
                <div class="col-sm-4">
                    <input id="max-value" type="number" name="numberMax" class="form-control" min="1"
                           ng-model="field.max" ng-required="field.type == 'number'"/>
                </div>
            </div>
            <div class="form-group" ng-if="field.type == 'date'"
                 ng-class="{ 'has-error': fieldForm.dateTemplate.$invalid && !fieldForm.dateTemplate.$pristine }">
                <label class="col-sm-3 control-label" for="date-format">Format</label>
                <div class="col-sm-9">
                    <input id="date-format" type="text" name="dateTemplate" class="form-control"
                           ng-model="field.template" ng-required="field.type == 'date'"/>
                    <div class="help-block">Uses moment.js to format date/time values. Please refer to the moment.js
                        <a href="http://momentjs.com/docs/#/displaying/format/" target="_blank">documentation</a>.
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="field.type == 'text'"
                 ng-class="{ 'has-error': fieldForm.textMin.$invalid && !fieldForm.textMin.$pristine }">
                <label class="col-sm-3 control-label" for="min-words">Minimum Words</label>
                <div class="col-sm-4">
                    <input id="min-words" type="number" name="textMin" class="form-control" min="1" ng-model="field.min"
                           ng-required="field.type == 'text'" less-than-or-equal-to="{{field.max}}"/>
                </div>
            </div>
            <div class="form-group" ng-if="field.type == 'text'"
                 ng-class="{ 'has-error': fieldForm.textMax.$invalid && !fieldForm.textMax.$pristine }">
                <label class="col-sm-3 control-label" for="max-words">Maximum Words</label>
                <div class="col-sm-4">
                    <input id="max-words" type="number" name="textMax" class="form-control" min="1" ng-model="field.max"
                           ng-required="field.type == 'text'"/>
                </div>
            </div>
            <div class="form-group" ng-if="field.type == 'alphanumeric'"
                 ng-class="{ 'has-error': fieldForm.alphanumericTemplate.$invalid && !fieldForm.alphanumericTemplate.$pristine }">
                <label class="col-sm-3 control-label" for="alphanumeric-format">Format</label>
                <div class="col-sm-9">
                    <input id="alphanumeric-format" type="text" name="alphanumericTemplate" class="form-control"
                           ng-model="field.template" ng-required="field.type == 'alphanumeric'"/>
                    <div class="help-block">
                        <div class="row">
                            <div class="col-sm-6">
                                <code>L</code> An uppercase Letter.<br>
                                <code>l</code> lowercase letter.<br>
                                <code>D</code> A letter (upper or lower).<br>
                                <code>C</code> An uppercase Consonant.<br>
                                <code>c</code> A lowercase consonant.<br>
                                <code>E</code> A consonant (upper or lower).
                            </div>
                            <div class="col-sm-6">
                                <code>V</code> An uppercase Vowel.<br>
                                <code>v</code> A lowercase vowel.<br>
                                <code>F</code> A vowel (upper or lower).<br>
                                <code>x</code> Any number, 0-9.<br>
                                <code>X</code> Any number, 1-9.
                            </div>
                        </div>
                        <br/>
                        Any other character will be output as-is. The above characters can be escaped by wrapping them
                        in [square brackets].
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="field.type == 'regex'"
                 ng-class="{ 'has-error': fieldForm.regexPattern.$invalid && !fieldForm.regexPattern.$pristine }">
                <label class="col-sm-3 control-label" for="regex">Pattern</label>
                <div class="col-sm-9">
                    <input id="regex" type="text" name="regexPattern" class="form-control"
                           ng-model="field.template" ng-required="field.type == 'regex'"/>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="field.caseInSensitive"> Case insensitive
                        </label>
                    </div>
                    <div class="help-block">Uses <a href="http://fent.github.io/randexp.js/"
                                                    target="_blank">randexp.js</a> to generate random data based on a
                        regular expression pattern.
                    </div>
                    <div>
                        <button type="button" class="btn btn-xs btn-default" ng-click="testRegExPattern(field)"
                                ng-disabled="fieldForm.regexPattern.$invalid">Test Me
                        </button>
                        &nbsp;{{sampleRegularExpressionData}}
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="field.type == 'randomized-list'"
                 ng-class="{ 'has-error': fieldForm.randomizedList.$invalid && !fieldForm.randomizedList.$pristine }">
                <label class="col-sm-3 control-label" for="randomized-list">List Items</label>
                <div class="col-sm-9">
                    <textarea id="randomized-list" name="randomizedList" rows="5" class="form-control"
                              ng-model="field.list" ng-required="field.type == 'randomized-list'"></textarea>
                    <div class="help-block">Enter each item on a new line.</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="submit" ng-disabled="fieldForm.$invalid">Save</button>
        </div>
    </form>
</script>