<form class="form-horizontal" name="generalForm" ng-submit="saveOptions()" novalidate>
    <h2>Email Settings</h2>
    <div class="form-group"
         ng-class="{ 'has-error': generalForm.usernameList.$invalid && !generalForm.usernameList.$pristine }">
        <label class="control-label col-sm-3">Username</label>
        <div class="col-sm-9">
            <div class="radio">
                <label>
                    <input type="radio" name="email-username" value="username"
                           ng-model="options.emailSettings.username">
                    Use a previously generated username
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="email-username" value="name" ng-model="options.emailSettings.username">
                    Use a previously generated first and last name
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="email-username" value="random" ng-model="options.emailSettings.username">
                    Generate a random name
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="email-username" value="list" ng-model="options.emailSettings.username">
                    Select from the list below:
                </label>
            </div>
            <input type="text" name="usernameList" class="form-control" ng-model="emailUsernameListCsv"
                   ng-required="options.emailSettings.username == 'list'">
            <div class="help-block">List each name with a comma.</div>
        </div>
    </div>
    <div class="form-group"
         ng-class="{ 'has-error': generalForm.hostnameList.$invalid && !generalForm.hostnameList.$pristine }">
        <label class="control-label col-sm-3">Host name</label>
        <div class="col-sm-9">
            <div class="radio">
                <label>
                    <input type="radio" name="if-email-hostname" value="random"
                           ng-model="options.emailSettings.hostname">
                    Use a randomly generated host name
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="if-email-hostname" value="list" ng-model="options.emailSettings.hostname">
                    Select from the list below:
                </label>
            </div>
            <input type="text" name="hostnameList" class="form-control" ng-model="emailHostnameListCsv"
                   ng-required="options.emailSettings.hostname == 'list'">
            <span class="help-block">List each name with a comma. You may include the @ sign as well.</span>
        </div>
    </div>

    <h2>Password Settings</h2>
    <div class="form-group"
         ng-class="{ 'has-error': generalForm.definedPassword.$invalid && !generalForm.definedPassword.$pristine }">
        <label class="control-label col-sm-3">Password</label>
        <div class="col-sm-9">
            <div class="radio">
                <label>
                    <input type="radio" name="pwd" value="random" ng-model="options.passwordSettings.mode">
                    Generate a random 8 character password (is logged in the console)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="pwd" value="defined" ng-model="options.passwordSettings.mode">
                    Use this:
                </label>
            </div>
            <input type="text" name="definedPassword" class="form-control code"
                   ng-model="options.passwordSettings.password"
                   ng-required="options.passwordSettings.mode == 'defined'">
        </div>
    </div>

    <h2>Field Options</h2>
    <div class="form-group"
         ng-class="{ 'has-error': generalForm.ignoredFields.$invalid && !generalForm.ignoredFields.$pristine }">
        <label class="control-label col-sm-3" for="ignore-fields-input">Ignore Fields Match</label>
        <div class="col-sm-9">
            <input type="text" name="ignoredFields" id="ignore-fields-input" required class="form-control"
                   ng-model="ignoredFieldsCsv">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="options.ignoreHiddenFields">
                    Ignore all hidden/invisible fields
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="options.ignoreFieldsWithContent">
                    Ignore fields that already have content
                </label>
            </div>
            <div class="help-block">
                <span class="label label-info">Note</span> Inputs with <i>type="hidden"</i> are always ignored.
            </div>
        </div>
    </div>
    <div class="form-group"
         ng-class="{ 'has-error': generalForm.confirmFields.$invalid && !generalForm.confirmFields.$pristine }">
        <label class="control-label col-sm-3" for="confirm-fields">Confirmation Fields Match</label>
        <div class="col-sm-9">
            <input type="text" name="confirmFields" id="confirm-fields" class="form-control" required
                   ng-model="confirmFieldsCsv">
            <div class="help-block">Data entered in a preceding input field will be used for inputs matching any of these values.</div>
        </div>
    </div>
    <div class="form-group"
         ng-class="{ 'has-error': generalForm.agreeTermsFields.$invalid && !generalForm.agreeTermsFields.$pristine }">
        <label class="control-label col-sm-3" for="agree-terms-fields">Agree to Terms Fields Match</label>
        <div class="col-sm-9">
            <input type="text" name="agreeTermsFields" id="agree-terms-fields" class="form-control" required
                   ng-model="agreeTermsFieldsCsv">
            <div class="help-block">Checkboxes matching any of these values will always be checked.</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3">Match fields using</label>
        <div class="col-sm-9">
            <div></div>
            <div class="checkbox">
                <label><input type="checkbox" ng-model="options.fieldMatchSettings.matchLabel" ng-required="isMatchFieldsRequired()" /> Label text for the input tag</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" ng-model="options.fieldMatchSettings.matchId" ng-required="isMatchFieldsRequired()" /> ID attribute of the input tag</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" ng-model="options.fieldMatchSettings.matchName" ng-required="isMatchFieldsRequired()" /> Name attribute of the input tag</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" ng-model="options.fieldMatchSettings.matchClass" ng-required="isMatchFieldsRequired()" /> Class attribute of the input tag</label>
            </div>
            <br/>
            <p>Please refer to the <a href="#/custom-fields">custom fields section</a> to learn how input elements are matched.</p>
        </div>
    </div>

    <h2>General Settings</h2>
    <div class="form-group">
        <label class="control-label col-sm-3">Trigger Events</label>
        <div class="col-sm-9">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="options.triggerClickEvents">
                    Trigger click/change events on input fields
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3">Context Menu</label>
        <div class="col-sm-9">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="options.enableContextMenu">
                    Add items to the right click menu
                </label>
            </div>
        </div>
    </div>

    <h2>Keyboard Shortcuts</h2>
    <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <table class="table table-bordered table-condensed">
                <tr ng-repeat="command in keyboardShortcuts track by $index">
                    <td class="narrow">
                        <kbd ng-if="command.shortcut">{{command.shortcut}}</kbd>
                        <span ng-if="!command.shortcut">not set</span>
                    </td>
                    <td>{{command.description}}</td>
                </tr>
            </table>
            <p>
                To change these keyboard shortcuts, type <code>chrome://extensions/</code> in the address bar
                to open up the extensions page. At the bottom of that page you'll see a Keyboard Shortcuts option.
                Click it, and you can set up custom shortcuts for Form Filler from there.
            </p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary" ng-disabled="generalForm.$invalid">Save Settings</button>
            <button type="button" class="btn btn-link" ng-click="reset()">Reset</button>
            <span ng-messages="messages">
                <span class="success" ng-message="success">Settings Saved!</span>
            </span>
        </div>
    </div>
</form>
